@innohealthtech:registry=https://git.innoht.live/api/v4/projects/22/packages/npm/
# Using personal token for registry access of Neeraj below
//git.innoht.live/api/v4/projects/22/packages/npm/:_authToken=stxYwtNqzb3FhXmZxWMd
